
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.btn-group{
    margin-top: 20px;

}

a.thumbnail   {

    margin-bottom: 15px;
}

.thumbnail > a > img {
  display: block;
  height: auto;
  max-width: 100%;
}


#add-image
{
    margin-top: 15px;
}