<!DOCTYPE html>
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en" class="ie ie9"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <!-- Mobile Specific Metas
    +++++++++++++++++++++++++++ -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="{{ STATIC_URL}}frame/img/favico.ico">

    <link rel="apple-touch-icon" href="{{ STATIC_URL}}frame/img/apple_icons_57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ STATIC_URL}}frame/img/apple_icons_72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ STATIC_URL}}frame/img/apple_icons_114x114.png">

    <title>Frame - Gallery with Ken Burn's Effect</title>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frame/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frame/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frame/css/plugins.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frame/css/theme.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frame/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frame/css/theme_settings.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frame/css/skin.css">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}frame/css/color_theme.css" id="theme_color">
        
    <!--[if IE 8 ]>
    <link rel="stylesheet" type="text/css" href="css/ie_css.css">
    <script>
        var e = ("article,aside,figcaption,figure,footer,header,hgroup,nav,section,time").split(',');
        for (var i = 0; i < e.length; i++) {
            document.createElement(e[i]);
        }		
    </script>
    <![endif]-->
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL}}frame/js/kenburns.js"></script>
</head>

<body class="fullscreen_layout">
	<header class="">
        <div class="header_wrapper container">
        	<a href="index.html" class="logo"><img src="img/logo.png" alt=""  class="logo_def" width="125" height="39"><img src="img/retina/logo.png" alt="" class="logo_retina" width="125" height="39"></a>
 <nav>
                <ul class="menu">
                    <li><a href="/index.html">HOME</a> </li>
                    <li><a href="javascript:void(0)">ABOUT</a> </li>
                    <li><a href="/masonry">GENERATIONS</a> </li>
                    <li class="current-menu-parent"><a href="javascript:void(0)">ARTISTS</a>
                        <ul class="sub-menu">
                              {% for artist in artists %}
                            <li><a href="/artist/{{ artist.id }}"> {{ artist.first_name }} {{ artist.last_name }} </a></li>
                         {% endfor %}

                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">GALLERIES</a>
                        <ul class="sub-menu">
                            <li><a href="/kenburns">Kenburns Gallery</a></li>
                            <li><a href="/grid">Grid Gallery</a></li>
                        </ul>
                    </li>
                </ul><!-- .menu -->
                <div class="clear"></div>
            </nav>
        </div>
    </header>
    
    <div class="fullscreen_block">
    	<div class="gallery_kenburns">
            <canvas id="kenburns">
                <p>Your browser doesn't support canvas!</p>
            </canvas>
        </div>
    </div>    

	<script type="text/javascript">
        $(document).ready(function(){ 
            $('#kenburns').attr('width', $(window).width());
            $('#kenburns').attr('height', $(window).height());
            $('#kenburns').kenburns({
                images:[{% for painting in paintings %}
                                '{{STATIC_URL}}{{ painting.image }}',
                        {% endfor %}
                        ],
                frames_per_second: 30,
                display_time: 5000,
                fade_time: 1000,
                zoom: 1.2,
                background_color:'#000000'
            });				
        });

        $(window).resize(function(){ 
            $('#kenburns').remove();
            $('.fullscreen_block').append("<canvas id='kenburns'><p>Your browser doesn't support canvas!</p></canvas>");
            $('#kenburns').attr('width', $(window).width());
            $('#kenburns').attr('height', $(window).height());
            $('#kenburns').kenburns({
                images:[ {% for painting in paintings %}
                                '{{STATIC_URL}}{{ painting.image }}',
                        {% endfor %}
                        ],
                frames_per_second: 30,
                display_time: 5000,
                fade_time: 1000,
                zoom: 1.2,
                background_color:'#000000'
            });				
        });
    </script>
    
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_URL}}frame/js/theme.js"></script>
    <div class="header2top"></div>
</body>
</html>